.about-section {
  display: flex;
  height: calc(100vh - 75px);
  width: 90%;
  background-color: #2F4858;
}

#name-column {
  display: flex;
  flex-basis: 100%;
}

#name-components {
  align-self: flex-end;
  margin-left: 150px;
  margin-bottom: 70px;
}

#info-column {
  display: flex;
  flex-basis: 100%;
}

#info-components {
  align-self: center;
  margin-left: 100px;
}

#headshot {
  text-align: center;
  width: 100%;
  padding-left: 50px;
}

#headshot-img {
  width: 500px;
}

#headshot-bg {
  justify-content: center;
  padding-left: 20px;
}

#info-description-wrapper {
  margin: 30px 0;
}

#info-description {
  text-align: center;
  font-family: SF Pro Display Regular, serif;
  font-size: 20px;
  color: #E8DBC5;
  margin: 0 50px;
}

#name-text {
  font-family: Mermaid, serif;
  font-size: 225px;
  margin: 0;
  line-height: 0.95;
  color: #E8DBC5;
}

#subtitle-text {
  font-family: SF Pro Display Bold, serif;
  color: #E8DBC5;
  font-size: 45px;
  margin: 0;
  line-height: 0.85;
}

svg {
  margin: 30px 0;
}



