.about-section {
  display: flex;
  /*table-layout: fixed;*/
  height: calc(100vh - 75px);
  width: 90%;
  background-color: #2F4858;
}

#nameColumn {
  flex-basis: 100%;
}

#name-components {
  margin-left: 75px;
  margin-bottom: 70px;
}

#infoColumn {
  flex-basis: 100%;
}

#headshot {
  text-align: center;
  width: 100%;
}

#headshot-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  /*bottom: 0;*/
  /*left: 0;*/
}

#headshot-bg {
  justify-content: center;
}

#info-description-wrapper {

}

#info-description {
  text-align: center;
  color: #E8DBC5;
  margin: 0 145px;
}

#nameText {
  font-family: Mermaid, serif;
  font-size: 225px;
  margin: 0;
  line-height: 0.95;
  color: #E8DBC5;
}

#subtitleText {
  font-family: SF Pro Display, serif;
  color: #E8DBC5;
  font-size: 45px;
  margin: 0;
  line-height: 0.85;
}

svg {
  margin: 30px 0;
}



