.experience-section {
  /*height: calc(100vh - 75px);*/
  background-color: #2F4858;
  display: flex;
  align-items: center;
  justify-content: center;
}

#experience-entry-wrapper {
  display: flex;
  align-items: center;
  margin: 45px 0;
}

#experience-entry-logo {
  max-width: 100px;
}

#experience-entry-text {
  display: inline-block;
  width: 350px;
  margin: 0 100px;
}

#experience-title {
  font-family: SF Pro Display Bold, serif;
  font-size: 30px;
  color: #E8DBC5;
  line-height: 0.8;
}

#experience-description {
  font-family: SF Pro Display Regular, serif;
  font-size: 20px;
  color: #E8DBC5;
  line-height: 0.8;
}

#experience-location {
  font-family: SF Pro Display Regular, serif;
  font-size: 20px;
  color: #E8DBC5;
  line-height: 0.8;
}