#info-pill {
  display: inline-block;
  background-color: #885053;
  border-radius: 3px;
}

#info-pill-content {
  color: #E8DBC5;
  margin: 2px 10px;
  font-family: SF Pro Display Regular, serif;
  font-size: 20px;
}

#timeline-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}

#timeline-marker {
  background-color: #57886c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #E8DBC5;
  border-width: 2px;
  border-style: solid;
}

#timeline-separator {
  border-left: 2px solid;
  height: 66px;
  margin-left: 14px;
}
