.NavBar {
  display: flex;
  background-color: #2F4858;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  color: #E8DBC5;
  z-index: 3;
}

.NavBar a {
  margin-right: 75px;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0 25px;
  font-family: SF Pro Display Bold, serif;
  font-weight: bold;
  font-size: 18px;
  align-content: center;
}

.active {
  border-bottom: 3px solid #E8DBC5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#navbar-link-wrapper {
  display: flex;
}

#navbar-title {
  font-family: Mermaid, serif;
  font-size: 45px;
  margin: 15px 75px;
}

@keyframes show-title {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes hide-title {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}


