.SideBar {
  position: fixed;
  display: flex;
  width: 175px;
  height: 100vh;
}

#logoColumn {
  align-content: flex-end;
  width: 100%;
  text-align: center;
  display: inline-grid;
  padding-bottom: 150px;
}

#logo {
  padding: 20px 0;
}
