.SideBar {
  display: flex;
  width: 150px;
  height: 100%;
  float: left;
}

#logoColumn {
  align-content: flex-end;
  width: 100%;
  text-align: center;
  display: inline-grid;
  padding-bottom: 100px;
}

#logo {
  padding: 10px 0;
}
