#ContentWrapper {
  margin-top: 75px;
  overflow: auto;
  background-color: #2F4858;
  flex: 1;
}

#name {
  font-family: Mermaid, serif;
  font-size: 200px;
}

#scroller {
  margin-left: 175px;
  width: 100%;
}

.experience-section {
  height: calc(100vh - 75px);
  background-color: #2F4858;
}

.projects-section {
  height: calc(100vh - 75px);
  background-color: slategrey;
}

.contact-section {
  height: calc(100vh - 75px);
  background-color: lightcoral;
}

html, body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Mermaid';
  src: local('Mermaid'), url(./fonts/Mermaid1001.ttf) format('truetype');
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: local('SF-Pro-Display-Regular)'), url(./fonts/SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: local('SF-Pro-Display)'), url(./fonts/SF-Pro-Display-Bold.otf) format('opentype');
}
